<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API for house prices</title>
</head>
<body>
    <h1>Usage</h1>
    <p>Send a post request to <code>url</code> with <code>data</code>
    header containing following data as json list or list of lists:
    </p>
    <ul>
        <li>CRIM</li>
        <li>ZN</li>
        <li>INDUS</li>
        <li>CHAS</li>
        <li>NOX</li>
        <li>RM</li>
        <li>AGE</li>
        <li>DIS</li>
        <li>RAD</li>
        <li>TAX</li>
        <li>PTRATIO</li>
        <li>B</li>
        <li>LSTAT</li>
    </ul>
</body>
</html>